image-compare .image-label {
  position: absolute;
  top: 1rem;
  padding: 0.7rem 1rem;
  color: #fff;
  background: hsla(0, 0%, 0%, 0.7);
  font-family: sans-serif;
  font-size: 1.25rem;
}

image-compare [slot="image-1"] .image-label {
  left: 1rem;
}

image-compare [slot="image-2"] .image-label {
  right: 1rem;
}

image-compare [slot="image-1"] img,
image-compare [slot="image-2"] img {
  width: 100%;
}

image-compare figure[slot="image-1"],
image-compare figure[slot="image-2"] {
  margin: 0;
}
