<image-compare label-text="{{ options.label_text }}"
               id="{{ id }}"{% if options.starting_position|length %} start="{{ options.starting_position }}"{% endif %}{% if options.step|length %} step="{{ options.step }}"{% endif %}{% if options.keyboard_step|length %} keyboard_step="{{ options.keyboard_step }}"{% endif %}>
  {% if images|length >= 2 %}
    {% if options.show_captions == 'false' %}
      <picture slot="image-1">
        {% for source in images[0].sources %}
          <source{{ source }}/>
        {% endfor %}
        <img src="{{ images[0].url }}" alt="{{ images[0].alt }}">
      </picture>
      <picture slot="image-2">
        {% for source in images[1].sources %}
          <source{{ source }}/>
        {% endfor %}
        <img src="{{ images[1].url }}" alt="{{ images[1].alt }}">
      </picture>
    {% else %}
      <figure slot="image-1">
        <picture>
          {% for source in images[0].sources %}
            <source{{ source }}/>
          {% endfor %}
          <img src="{{ images[0].url }}" alt="{{ images[0].alt }}">
        </picture>
        {% if images[0].caption|length %}
          <figcaption class="image-label">{{ images[0].caption }}</figcaption>
        {% endif %}
      </figure>
      <figure slot="image-2">
        <picture>
          {% for source in images[1].sources %}
            <source{{ source }}/>
          {% endfor %}
          <img src="{{ images[1].url }}" alt="{{ images[1].alt }}">
        </picture>
        {% if images[1].caption|length %}
          <figcaption class="image-label">{{ images[1].caption }}</figcaption>
        {% endif %}
      </figure>
    {% endif %}
  {% endif %}
</image-compare>
